bots/dunctebot/system/aiml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Skybot, a multipurpose discord bot
  ~      Copyright (C) 2017 - 2018  Duncan "duncte123" Sterken & Ramid "ramidzkh" Khan & Maurice R S "Sanduhr32"
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published
  ~ by the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:element name="aiml" type="xs:string">
         <xs:complexType>
               <xs:sequence>
                     <xs:element name="topic" maxOccurs="unbounded">
                           <xs:complexType name="category">
                                 <xs:sequence>
                                       <xs:element name="category">
                                             <xs:complexType>
                                                   <xs:sequence>
                                                         <xs:element name="pattern" type="xs:string"/>
                                                         <xs:element name="that" type="xs:string"/>
                                                         <xs:element name="template">
                                                               <xs:complexType>
                                                                     <xs:sequence>
                                                                           <xs:element name="think">
                                                                                 <xs:complexType>
                                                                                       <xs:sequence>
                                                                                             <xs:element name="set" type="xs:string">
                                                                                                   <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                               <xs:element
                                                                                                                       name="star"/>
                                                                                                               <xs:element name="get">
                                                                                                                     <xs:complexType>
                                                                                                                           <xs:attribute
                                                                                                                                   name="name"
                                                                                                                                   type="xs:string"/>
                                                                                                                     </xs:complexType>
                                                                                                               </xs:element>
                                                                                                         </xs:sequence>
                                                                                                         <xs:attribute
                                                                                                                 name="name"
                                                                                                                 type="xs:string"/>
                                                                                                   </xs:complexType>
                                                                                             </xs:element>
                                                                                       </xs:sequence>
                                                                                 </xs:complexType>
                                                                           </xs:element>
                                                                           <xs:element name="star"/>
                                                                           <xs:element name="srai" type="xs:string">
                                                                                 <xs:complexType>
                                                                                       <xs:sequence>
                                                                                             <xs:element name="get">
                                                                                                   <xs:complexType>
                                                                                                         <xs:attribute
                                                                                                                 name="name"
                                                                                                                 type="xs:string"/>
                                                                                                   </xs:complexType>
                                                                                             </xs:element>
                                                                                       </xs:sequence>
                                                                                 </xs:complexType>
                                                                           </xs:element>
                                                                           <xs:element name="condition">
                                                                                 <xs:complexType>
                                                                                       <xs:sequence>
                                                                                             <xs:element name="li" maxOccurs="unbounded" type="xs:string">
                                                                                                   <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                               <xs:element name="get">
                                                                                                                     <xs:complexType>
                                                                                                                           <xs:attribute
                                                                                                                                   name="name"
                                                                                                                                   type="xs:string"/>
                                                                                                                     </xs:complexType>
                                                                                                               </xs:element>
                                                                                                               <xs:element
                                                                                                                       name="srai"
                                                                                                                       maxOccurs="unbounded"
                                                                                                                       type="xs:string"/>
                                                                                                         </xs:sequence>
                                                                                                         <xs:attribute
                                                                                                                 name="value"
                                                                                                                 type="xs:string"/>
                                                                                                   </xs:complexType>
                                                                                             </xs:element>
                                                                                       </xs:sequence>
                                                                                       <xs:attribute name="name"
                                                                                                     type="xs:string"/>
                                                                                 </xs:complexType>
                                                                           </xs:element>
                                                                     </xs:sequence>
                                                               </xs:complexType>
                                                         </xs:element>
                                                   </xs:sequence>
                                             </xs:complexType>
                                       </xs:element>
                                 </xs:sequence>
                                 <xs:attribute name="name" type="xs:string"/>
                           </xs:complexType>
                     </xs:element>
                     <xs:element name="category" maxOccurs="unbounded" type="category"/>
               </xs:sequence>
               <xs:attribute name="version" type="xs:string"/>
         </xs:complexType>
   </xs:element>
</xs:schema>
 
